{% extends "base.html" %}

{% block content %}
<h2>Your purchases</h2>
<ul>
    {% for order in orders %}
    <li>
        <h3>{{ order.product.name }}</h3>
        <p>Quantity: {{ order.quantity }}</p>
        <p>Price: {{ order.total_price }} грн</p>
        <p>Order time: {{ order.ordered_at }}</p>

        <form method="post" action="{% url 'return_order' order.id %}">
            {% csrf_token %}
            <button type="submit">Return the product</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
